<!-- start custom head snippets -->

<!-- ============================================================ -->
<!-- GOOGLE ADSENSE                                               -->
<!-- Uncomment baris di bawah setelah akun AdSense kamu approved -->
<!-- Ganti ca-pub-XXXXXXXXXXXXXXXX dengan Publisher ID kamu      -->
<!-- Publisher ID bisa dilihat di: ads.google.com > Account info -->
<!-- ============================================================ -->

<!-- <script data-ad-client="ca-pub-XXXXXXXXXXXXXXXX" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->

<!-- ============================================================ -->
<!-- FAVICON                                                      -->
<!-- Generate favicon di: https://realfavicongenerator.net/      -->
<!-- Lalu taruh hasilnya di folder /assets/images/               -->
<!-- ============================================================ -->

<!-- end custom head snippets -->
